# Datenordner mit zu großen Bilddateien ausschließen
lines/
data/lines/
data/**/*.png
.idea/
*.iml
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints/
.env/
.venv/
venv/
preparation_validation/cache
/saved_models/
/FullsetStuff/
/output/
